# Build results
bin
obj

# Copyrighted files
*.ttf
*.jpg

# Configuration + tokens
appsettings.json
appsettings.*.json

# Database files
*.db

# Editor files
.vscode
.vs/Monika/v15
.che

#node.js cache

node_modules

# we don't want to accidentally commit this
config.json

