<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Discord.Net" value="https://www.myget.org/F/discord-net/api/v3/index.json" />
        <add key="Newtonsoft.Json" value="https://www.nuget.org/api/v2/package/Newtonsoft.Json/10.0.3"/>
        <add key="squirrel.windows" value="https://www.nuget.org/api/v2/package/squirrel.windows/1.7.8"/>
    </packageSources>
</configuration>
