{
    "token": "",
    "debug": true,
    "promiseWarnings": false,
    "mainPrefix": "?",
    "gameName" : "",
    "gameURL" :"",
    "ownerID": "",
    "maxShards": 1,
    "sayoriHost": "",
    "dialogFlowProjectID": "",
    "discordBotsPWKey": "",
    "discordBotsOrgKey": ""
}
