[Service]

# what binaries to exec. absolute paths only
# default /usr/bin/nodejs ./src/bot --harmony

ExecStart=/usr/bin/nodejs ./src/bot --harmony

# Working directory for the service. This is 
# where would the service would cwd in.
# default /home/user/monika

WorkingDirectory=/home/user/monika

# What to exec when errored out
# default sleep 3000

ExecStop= sleep 3000

[Install]

WantedBy=multi-user.target
