[Unit]

Description = Monika Gateway

[Service]

# what binaries to exec. absolute paths only
# default /usr/bin/pm2 start src/monika.config.js

ExecStart=/usr/bin/pm2 start src/monika.config.js

# Working directory for the service. This is 
# where would the service would cwd in.
# default /home/user/monika

WorkingDirectory=/home/user/monika

# What to exec when errored out
# default sleep 3000

ExecStop= /bin/sleep 3000

# Whether to Restart
# default true

Restart = true

[Install]

WantedBy=multi-user.target
