{
    "token": "",
    "debug": true,
    "promiseWarnings": false,
    "ibKey": "",
    "mainPrefix": "?",
    "gameName" : "",
    "gameURL" :"",
    "ownerID": "",
    "maxShards": 1,
    "ytSearchKey": "",
    "twitchKey": "",
    "dialogFlowSessionID": "",
    "dialogFlowProjectID": "",
    "nasaKey": "",
    "discordBotsPWKey": "",
    "discordBotsOrgKey": ""
}
